<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CompleteUserColumns" value="OrderID;Etternavn;Fornavn;Krets;Klubb;E-post;Mobiltelefon;Kjønn;Fødselsdato;Distanse/øvelse og klasse;Pris;Betalingsmetode;Betalt;Registrert betalt;Utbetalt;Addresse;Postnummer;Sted;Land" />
    <add key="UserColumns" value="OrderID;Etternavn;Fornavn;Klubb;Kjønn;Fødselsdato;Distanse/øvelse og klasse" />
    <add key="Races" value="10 KM;5 KM;5 KM Trim;2 km barneløp 7-12;500m barneløp 4-6" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
