@{
    ViewBag.Title = "UtleiraTidtaker.Web";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var posturl = Url.Content("~/api/v1/upload/file");
}
<script type="text/javascript" src="@Url.Content("~/Scripts/utleiratidtaker.js")"></script>
<script type="text/javascript">
    function previewFile(iid) {
        var file = document.querySelector(iid).files[0];
        var reader = new FileReader();
        var filename;
        reader.onloadend = function () {
            $.ajax({
                type: "POST",
                async: false,
                url: "@posturl?file=" + filename,
                data: reader.result,
            }).success(function(data) {
                $("#races").val(data.Data.races);
                $("#athletes").val(data.Data.athletes);
            });
        };

        if (file) {
            filename = file.name;
            reader.readAsDataURL(file);
        }
    }

    $(document).ready(function() {
        $("#races").focus(function() {
            var $this = $(this);
            $this.select();

            // Work around Chrome's little problem
            $this.mouseup(function() {
                // Prevent further mouseup intervention
                $this.unbind("mouseup");
                return false;
            });
        });
        $("#athletes").focus(function() {
            var $this = $(this);
            $this.select();

            // Work around Chrome's little problem
            $this.mouseup(function() {
                // Prevent further mouseup intervention
                $this.unbind("mouseup");
                return false;
            });
        });
    });
</script>
<form enctype="multipart/form-data" id="ajaxUploadForm" novalidate="novalidate">

    <fieldset>
        <legend>Last opp fil fra <a href="http://mosjon.friidrett.no/arrangement/default.aspx">http://mosjon.friidrett.no/arrangement/default.aspx</a></legend>
        <ul>
            <li>
                <input type="file" style="width: 317px" name="file" id="fileInput" onchange="previewFile('#fileInput')">
            </li>
        </ul>
    </fieldset>
</form>
<fieldset>
    Races:<br/>
    <textarea id="races" style="max-width: initial !important; width: 100%;"></textarea>
</fieldset>
<fieldset>
    Athletes:<br/>
    <textarea id="athletes" style="max-width: initial !important; width: 100%;"></textarea>
</fieldset>